/* Defaults */

h1 {
    font-family: 'Comfortaa', cursive;
}

h2 {
    font-family: 'Comfortaa', cursive;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

li {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: darkcyan;
}

pre {
    padding-left: 40px;
}



/* Sections */

header {
    background-color: skyblue;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    padding-left: 40px;
    padding-right: 20px;
}

/* Paragraph tags */

p.author {
    font-size: 14px;
    opacity: .6;
    font-style: italic;
}

p.definition {
    color: grey;
}

p.indent {
    padding-left: 40px;
}

/* Table */

table, th, td {
    border: 1px solid darkcyan;
    border-collapse: collapse;
    background-color: skyblue;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    vertical-align: center;
    padding: 10px;
    padding-left: 20px;
}

table {
    width: 100%
}

th {
    color: darkcyan;
}

td {
    
    font-size: 14px;
}